.connection {
    background-color: var(--blue);
    width: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding : 20px;
    border: solid 1px var(--purple);
    box-shadow: -5px 0 0 var(--purple);
}

.connection input, .connection button {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: solid 1px var(--purple);
    margin: 2px;
}

form.picture-form { 
    position: relative; 
    height: 50px; 
    width: 50px; 
    border: solid 2px var(--purple); 
    border-radius: 50%; 
    overflow: hidden;
}
img#user-picture { width: 100%;}
input#picture-input {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    cursor: pointer;
}
span#picture-label {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    color: var(--font-color-white); 
    background: var(--black); 
    opacity: 0; 
    transition: opacity 0.2s; 
    pointer-events: none;
    font-size: 35px;
}

div.userspace-section {
    border-radius: 15px;
    padding: 15px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.profile-section { max-width: fit-content; }
div.user-infos { margin-left: 20px; }

div.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
div.quiz-list a.quiz-a {
    text-decoration: none;
    color: var(--font-color-black);
    margin: 10px;
}
div.quiz-list div.quiz-div {
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
}

div.quizzes-cards {
    background-color: var(--white);
    width: 100%;
    display: block ruby;
    overflow-y: auto;
    justify-content: center;
}
div.quiz-card {
    position: relative;
    width: 300px;
    background-color: var(--white);
    border: solid 2px;
    padding: 10px;
    margin: 20px;
    overflow: hidden;
}
div.quiz-card h4, div.quiz-card p {
    margin: 5px;

}

img.quiz-creator-picture {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    border: solid 1px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    overflow: hidden;
}

div.action-area { 
    text-align: center; 
    display: flex; 
    flex-wrap: wrap;
    margin: 20px auto;
    margin-top : 50px;
    justify-content: space-around;
}