:root {
    /* Couleurs */
    --transparent: #ffffff00;
    --white: #ffffff;
    --green: #CAFFD0;
    --blue: #C9E4E7;
    --lila: #B4A0E5;
    --purple: #CA3CFF;
    --black: #1E1014;
    --good-answer: #00aa00; 
    --wrong-answer: #aa0000; 

    /* Polices d'écritures */
    --first-font: montserrat;
    --font-color-white: #fff;
    --font-color-black: #1E1014;
    --font-color-success: #006900;
    --font-color-error: #9B1C18;

}


body {
    background-color: var(--green);
    font-family: var(--first-font), Arial, Helvetica;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1; /* Prend tout l'espace disponible */
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: center;
}

.navbar{
    z-index: 10;
    background-color: var(--lila);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px var(--black);
    > a{
        text-decoration: none;
        color: var(--font-color-black);
    }
}
.navbar-logo{
    height: 50px;
    width: auto;
    padding: 10px;
}
.navbar-logo path {
    fill : var(--black);
    transition: fill 0.4s ease;
    z-index: 20;
}
.logo-bg-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 75px;
    z-index: -1;
    transform: translate(-100%, 0%);
    background-color: var(--purple);
    border-radius: 0 30% 30% 0;
    transition: all 0.3s;
}

div.links-area {
    margin-right: 20px;
}

footer {
    background-color: var(--purple);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    height: 20px;
    width: 100%;
    font-family: Arial, sans-serif;
    margin-top: auto;
    box-shadow: 0 -1px 10px var(--black);
    a {
        color: var(--font-color-white);
        text-decoration: none;
        cursor: pointer;
    }
}

.errors { color: var(--font-color-error); }
.success { color: var(--font-color-success); }

.centered-div {
    background-color: var(--blue);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    padding : 20px;
    border: solid 1px var(--purple);
}


.button {
    text-decoration: none;
    cursor: pointer;
    font-size: medium;
    font-weight: normal;
    text-align: right;
    background-color: var(--white);
    color: var(--font-color-black);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px var(--purple);
    box-shadow: 5px 0 0 var(--purple);
    transform: translateX(-5px);
    transition: all 0.2s;
}
.button:focus, .button:after {
    transform: translateX(-5px);
    margin-right: 5px;
    margin-left: 15px;
    box-shadow: -5px 0 0 var(--transparent);
}



@media screen and (max-width: 768px) {

    body {
        background-color: var(--blue);
    }
    .main {
        padding-top: 0;
        padding-bottom: 0;
        display: grid;
        align-items: center;
    }
    .centered-div {
        width: calc(100vw - 40px);
        margin: 0;
        border-radius: 0;
        padding : 20px;
        border: 0px;
    }
    .button {
        padding: 10px 10px;
    }
    
    .button:hover {
    transform: translateX(-5px);
    margin-right: 5px;
    margin-left: 15px;
    box-shadow: -5px 0 0 var(--transparent);
}
}