div.quiz-area{
    position: relative;
    background-color: var(--blue);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    padding : 20px;
    border: solid 1px var(--purple);
    text-align: center;
}

div.quiz-area span.report-quiz {
    position: absolute;
    background-color: var(--transparent);
    color: var(--font-color-black);
    border-radius: 50%;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
    transition: 0.3s ease;
}
div.quiz-area span.report-quiz:hover {
    cursor: pointer;
    background-color: var(--font-color-error);
    color: var(--font-color-white);
}

div.quiz-area div.question-area {
    font-size: larger;
}

div.quiz-area div.answers-area {
    width: 100%;
}

div.quiz-area div.answers-area div.line {
    width: 100%;
    display: inline-flex;
}

div.quiz-area div.answers-area div.line div.answer {
    margin: 20px;
    width: 50%;
    background-color: var(--white);
    font-size: larger;
    border: solid 1px var(--purple);
    border-radius: 10px;
    box-shadow: 5px 0 0 var(--purple);
}

div.quiz-area div.quiz-end {
    display: none;
    margin: auto;
    padding: 20px;
}

/* Pour créer un quiz */
div.quiz-creation {
    background-color: var(--blue);
    width: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding : 20px;
    border: solid 1px var(--purple);
}
form.quiz-creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


form.quiz-creation-form input, textarea, select {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: solid 1px var(--purple);
    margin: 2px;
}

div.category-cards {
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 20px;
}
form.category-card {
    background-color: var(--white);
    border: solid 1px var(--purple);
    text-align: center;
    border-radius: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
}