<?php
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Configuration des variables d'environnement
    Fichier de configuration de la base de données
    
    A configurer avec vos variables. 
    Fichier à renommer variables.php
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

// Configuration de la base de données
$_ENV['DB_HOST'] = 'localhost';
$_ENV['DB_NAME'] = 'quiz';
$_ENV['DB_USER'] = 'root';
$_ENV['DB_PASS'] = '';
$_ENV['DB_PORT'] = '3306';

$_ENV['DB_CHARSET'] = 'utf8mb4';
$_ENV['DB_TIMEZONE'] = 'Europe/Paris';

// Configuration SMTP
$_ENV['SMTP_HOST'] = 'votre.lien.stmp';
$_ENV['SMTP_PORT'] = 'XXX';
$_ENV['SMTP_USER'] = 'exemple@adresse.mail'; // Remplacez par votre email
$_ENV['SMTP_PASS'] = 'mot-de-passe'; // Remplacez par votre mot de passe email
$_ENV['SMTP_FROM'] = 'exemple@adresse.mail'; // Email d'envoi par défaut
